include ./entry

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Геоотзыв (ВП № 1)
        link(rel="stylesheet", href="main.min.css")
    body
        #map
        #popup
            .popup__container
                .popup__header
                    .popup__adresscontainer
                        .popup__icon
                            +icon(14, "white")
                        .popup__address Невский пр., 78, Санкт-Петербург
                    a.popup__close(href="#")
                .popup__main
                    .popup__reviews
                        ul.popup__list-reviews
                            li.popup__item
                                .popup__info
                                    .popup__name svetlana
                                    .popup__address--review Шоколадница
                                    .popup__date 13.12.2015
                                .popup__review Очень хорошее место
                            li.popup__item
                                .popup__info
                                    .popup__name Сергей Мелюков
                                    .popup__address--review Красный куб
                                    .popup__date 12.12.2015
                                .popup__review Ужасное место! Кругом зомби!!!
                            
                    .popup__form
                        form.form(name="formreview")
                            .form__content
                                label.form__label Ваш отзыв
                                .form__inputcontainer
                                    input.form__input(type="text" name="reviewName" placeholder="Ваше имя")
                                    input.form__input(type="text" name="reviewplace" placeholder="Укажите место")
                                    textarea.form__textarea(name="reviewImpressions" placeholder="Поделитесь впечатлениями")
                                button.form__button(name="button" type="button") Добавить
        
        -
         var scriptsArr = [
             "https://api-maps.yandex.ru/2.1/?apikey=8066e43a-c6e4-462b-aa8e-77c5f4b44a9d&lang=ru_RU",
             "main.min.js"
         ]
        +scripts(scriptsArr)
