//Шрифт
$light: 300;
$medium: 400;
$regular: 700;

$white-color: white;

$text-color: black;
$placeholder-color: #7f7f7f;
$active-color: #ff8663;
$hover-color: #e44a1e;
$border-color: #f0f0f0;
$fail-color: red;
$baloon-footer-color: #7D7D7D;