//Шрифт
$light: 300;
$regular: 400;
$bold: 700;

//Размер шрифта
// $basefontsize: 15px;
// $basefontsize-phonesmall: 13px;

//Цвета
$bg-color: #09101a;

$form-color: #17212b;
$head-input-color: #242f3d;
$form-element-color: #5288c1;
$button-img-color: #1d2a39;
$button-window-color: #1d2a39;
$chatarea-color: #0e1621;


$text-color: #fff;
$status-text-color: #7f91a4;
$time-text-color: #7a8c9e;
$placeholder-text-color: #5b6774;
$placeholder-find-text-color: #6d7883;
$message-text-color: #e5e5e5;  
$online-text-color: #51b3f3;
$button-avatar-text-color: #6ab2f2;


//Размеры окна
$bp-desktop: 990px;
$bp-tablets: 720px;
$bp-phones: 480px;
$bp-phones-small: 320px;

// //Задержка
// $delay: .3s;

